html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game {
  border-collapse: collapse;
  cursor: pointer;
}

.cell {
  border: 1px solid;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 40px;
}

.statics p {
  display: inline-block;
}
